.Header{
    box-sizing: border-box;
    background-color: #764ba2;
    padding: 8px;
}
.Title {
    text-align: center;
    color: white;
    font-weight: lighter;
}

.Chat {
    margin-top: 8px;
    margin-bottom: 8px;
}
.button {
    margin: 0 8px;
    padding: 8px;
}

.container{
    display: flex;
    justify-content: center;
}